<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="init" default-destroy-method="destroy"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<!--bean id="person" class="com.kemery.spring.demo.Person"
		scope="singleton" init-method="onCreate" destroy-method="onDestroy"
		factory-method="getInstance">
		<constructor-arg value="777" type="int" index="0" name="id"></constructor-arg>
		<constructor-arg value="George" index="1" name="name" type="String"></constructor-arg>
		<property name="taxId" value="123456789"></property>
		<property name="address" ref="address"></property>
	</bean-->
	

	<context:property-placeholder
		location="com/kemery/spring/demo/props/jdbc.properties" />
	<bean class="com.kemery.spring.demo.Robot" id="robot">
		<!--property name="id" value="${jdbc.user}"></property>
		<property name="speech" value="${jdbc.password}"></property-->
	</bean>
	
	
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
	<property name="driverClassName" value="${jdbc.driver}"></property>
	<property name="url" value="${jdbc.url}"></property>
	<property name="password" value="${jdbc.password}"></property>
	<property name="username" value="${jdbc.username}"></property>
	</bean>
</beans>
