<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="person" class="com.kemery.spring.demo.Person">
		<constructor-arg value="777" type="int" index="0" name="id"></constructor-arg>
		<constructor-arg value="George" index="1" name="name" type="String"></constructor-arg>
		<property name="taxId" value="123456789"></property>
	</bean>
</beans>
